---
import { SITE } from 'astrowind:config';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl font-extrabold tracking-tight whitespace-nowrap
         text-primary"
>
  {SITE?.name}
</span>
